<div class="row">
  <div class="col-lg col-sm p-0">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button type="button" id="sidebarCollapse" class="btn btn-info" (click)="toggleSidebar()">
        <i class="fas fa-bars"></i>
      </button>
      <div class="mr-auto">
        <h1 class="display-1"><strong>Home</strong></h1>
      </div>
    </nav>
  </div>
</div>
<!-- Content -->
{{ inventarios | json }}
<p>Separator</p>
{{ productos | json }}
<div class="row">
  <div class="col-lg-6 col-sm">
    <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions"
    [chartType]="'bar'"></canvas>
  </div>
  <div class="col-lg-6 col-sm">
    <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions"
      [chartType]="'bar'"></canvas>
  </div>
</div>
<!--
<div class="row">
  <div class="col-lg-6 col-sm" *ngFor="let inventario of inventarios | slice:0:2;">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th colspan="5" class="centered-th">Productos</th>
          </tr>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Caducidad</th>
            <th scope="col">Precio</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of inventario.productos | slice:0:4;">
            <th scope="row">{{ producto.id }}</th>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.cantidad }}</td>
            <td>{{ producto.caducidad }}</td>
            <td>{{ producto.precio }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
-->
