<nav id="sidebar">
  <div [@childAnimation]="animated ? 'open' : 'close'">
  <div class="sidebar-header">
    <a class="navbar-brand" href="#">
      <img src="../../../../../../assets/img/logo.png" width="210" height="105" alt="Logo" />
    </a>
  </div>
  </div>
  <ul class="list-unstyled components">
    <li class="active">
      <a routerLink="/dashboard" (click)="toggleAnim()">Home</a>
    </li>
    <li>
      <a routerLink="./inventarios"aria-expanded="false" (click)="toggleAnim()">Inventarios</a>
    </li>
    <li>
      <a routerLink="./reportes" aria-expanded="false" (click)="toggleAnim()">Reportes</a>
    </li>
    <li>
      <a
        href="#reportesSubmenu"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
        (click)="toggleAnim()"
        >Perfil</a
      >
      <ul class="collapse list-unstyled" id="reportesSubmenu">
        <li>
          <a routerLink="./mi-perfil">Mi Perfil</a>
        </li>
        <!--
        <li>
          <a routerLink="./perfil">Administrar Perfiles</a>
        </li>
        -->
        <li>
          <a class="btn btn-primary my-1 mr-md-3 btn-custom" (click)="logout()">Logout</a>
        </li>
      </ul>
    </li>
  </ul>
  <app-currency-info></app-currency-info>
</nav>
