<div class="row">
  <div class="col-lg col-sm p-0">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button type="button" id="sidebarCollapse" class="btn btn-info" (click)="toggleSidebar()">
        <i class="fas fa-bars"></i>
      </button>
      <div class="mr-auto">
        <h1 class="display-1"><strong>Inventario {{ inventario.id }}</strong></h1>
      </div>
      <div class="navbar-nav ml-auto navbar-buttons">
        <a class="btn-custom" data-toggle="modal" data-target="#ProductoModal"
          >Nuevo producto</a
        >
      </div>
    </nav>
  </div>
</div>
<!-- Content -->
<div
  class="modal fade"
  id="ProductoModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">
          Nuevo Producto
        </h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="modeloProducto" (ngSubmit)="enviar()">
        <div class="modal-body mx-3">
          <div class="text-nowrap m-3">
            <h2 class="text-md-left">
              Nombre :
              <input
                type="text"
                formControlName="nombreProducto"
                class="form-control m-4"
                placeholder="Añadir Nombre"
                required
              />
            </h2>
            <h2 class="text-md-left">
              Cantidad :
              <input
                type="text"
                formControlName="cantidadProducto"
                class="form-control m-4"
                placeholder="Añadir Cantidad"
                required
              />
            </h2>
            <h2 class="text-md-left">
              Caducidad :
              <input
                type="text"
                formControlName="caducidadProducto"
                class="form-control m-4"
                placeholder="Añadir Caducidad"
                required
              />
            </h2>
            <h2 class="text-md-left">
              Precio/Kg :
              <input
                type="text"
                formControlName="precioProducto"
                class="form-control m-4"
                placeholder="Añadir Precio por kilo"
                required
              />
            </h2>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button type="submit" class="btn btn-primary my-1 mr-md-3 btn-custom">
            Agregar
          </button>
        </div>
        </form>
    </div>
  </div>
</div>
<!--Tabla-->
<div class="table-responsive">
  <table
    #dataTable
    class="table table-striped table-bordered display"
    id="table1"
    style="width: 100%;"
  >
  </table>
</div>
