        <div class="row">
          <div class="col-lg-6 col-sm">
              <p>Graph 1</p>
            <canvas id="chartDefault1"></canvas>
          </div>
          <div class="col-lg-6 col-sm">
              <p>Graph 2</p>
            <canvas id="chartDefault2"></canvas>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-sm">
              <p>Graph 3</p>
            <canvas id="chartDefault3"></canvas>
          </div>
          <div class="col-lg-6 col-sm">
              <p>Graph 4</p>
            <canvas id="chartDefault4"></canvas>
          </div>
        </div>
