<div class="row">
  <div class="col-lg-6 col-sm">
    <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions"
      [chartType]="'bar'"></canvas>
  </div>
  <div class="col-lg-6 col-sm">
    <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions"
      [chartType]="'line'"></canvas>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-sm">
    <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions"
      [chartType]="'line'"></canvas>
  </div>
  <div class="col-lg-6 col-sm">
    <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions"
      [chartType]="'bar'"></canvas>
  </div>
</div>