
        <!--Cartas-->
        <div class="row">
          <div class="card text-center ">
            <div class="card-body">
              <h5 class="card-title">inven 2</h5>
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th colspan="4" class="centered-th">Carros</th>
                  </tr>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Make</th>
                    <th scope="col">Model</th>
                    <th scope="col">Year</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Honda</td>
                    <td>Accord</td>
                    <td>2009</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Toyota</td>
                    <td>Camry</td>
                    <td>2012</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Hyundai</td>
                    <td>Elantra</td>
                    <td>2010</td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>Honda</td>
                    <td>Accord</td>
                    <td>2009</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Toyota</td>
                    <td>Camry</td>
                    <td>2012</td>
                  </tr>
                </tbody>
              </table>
              <a href="viewInventario.html" class="btn btn-primary">Entrar</a>
            </div>
          </div>
          <div class="card text-center ">
            <div class="card-body">
              <h5 class="card-title">inven 3</h5>
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th colspan="4" class="centered-th">Carros</th>
                  </tr>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Make</th>
                    <th scope="col">Model</th>
                    <th scope="col">Year</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Honda</td>
                    <td>Accord</td>
                    <td>2009</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Toyota</td>
                    <td>Camry</td>
                    <td>2012</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Hyundai</td>
                    <td>Elantra</td>
                    <td>2010</td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>Honda</td>
                    <td>Accord</td>
                    <td>2009</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Toyota</td>
                    <td>Camry</td>
                    <td>2012</td>
                  </tr>
                </tbody>
              </table>
              <a href="viewInventario.html" class="btn btn-primary">Entrar</a>
            </div>
          </div>
          <div class="card text-center ">
            <div class="card-body">
              <h5 class="card-title">inven 4</h5>
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th colspan="4" class="centered-th">Carros</th>
                  </tr>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Make</th>
                    <th scope="col">Model</th>
                    <th scope="col">Year</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Honda</td>
                    <td>Accord</td>
                    <td>2009</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Toyota</td>
                    <td>Camry</td>
                    <td>2012</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Hyundai</td>
                    <td>Elantra</td>
                    <td>2010</td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>Honda</td>
                    <td>Accord</td>
                    <td>2009</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Toyota</td>
                    <td>Camry</td>
                    <td>2012</td>
                  </tr>
                </tbody>
              </table>
              <a href="viewInventario.html" class="btn btn-primary">Entrar</a>
            </div>
          </div>
          <div class="card text-center ">
            <div class="card-body">
              <h5 class="card-title">inven 5</h5>
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th colspan="4" class="centered-th">Carros</th>
                  </tr>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Make</th>
                    <th scope="col">Model</th>
                    <th scope="col">Year</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Honda</td>
                    <td>Accord</td>
                    <td>2009</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Toyota</td>
                    <td>Camry</td>
                    <td>2012</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Hyundai</td>
                    <td>Elantra</td>
                    <td>2010</td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>Honda</td>
                    <td>Accord</td>
                    <td>2009</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Toyota</td>
                    <td>Camry</td>
                    <td>2012</td>
                  </tr>
                </tbody>
              </table>
              <a href="viewInventario.html" class="btn btn-primary">Entrar</a>
            </div>
          </div>
        </div>

    <!--Modal-->
    <div
      class="modal fade"
      id="newModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="newModal"
      aria-hidden="true"
    >
      <div class="modal-dialog text-center" role="document">
        <div class="modal-content d-flex justify-content-center">
          <div class="modal-header">
            <h4 class="modal-title w-100 font-weight-bold">Nuevo Inventario</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-3">
            <h3 class="text-center">
              Esocoge los campos que quieras en tu inventario
            </h3>

            <!--Tables-->
            <div class="card modal-card text-center ">
              <div class="card-body">
                <h5 class="card-title">inven 1</h5>
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th colspan="4" class="centered-th">Carros</th>
                    </tr>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Make</th>
                      <th scope="col">Model</th>
                      <th scope="col">Year</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Honda</td>
                      <td>Accord</td>
                      <td>2009</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Toyota</td>
                      <td>Camry</td>
                      <td>2012</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Hyundai</td>
                      <td>Elantra</td>
                      <td>2010</td>
                    </tr>
                    <tr>
                      <th scope="row">1</th>
                      <td>Honda</td>
                      <td>Accord</td>
                      <td>2009</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Toyota</td>
                      <td>Camry</td>
                      <td>2012</td>
                    </tr>
                  </tbody>
                </table>
                <a href="#" class="btn btn-primary">Escoger este</a>
              </div>
            </div>

            <div class="card modal-card text-center ">
              <div class="card-body">
                <h5 class="card-title">inven 2</h5>
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th colspan="4" class="centered-th">Carros</th>
                    </tr>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Make</th>
                      <th scope="col">Model</th>
                      <th scope="col">Year</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Honda</td>
                      <td>Accord</td>
                      <td>2009</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Toyota</td>
                      <td>Camry</td>
                      <td>2012</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Hyundai</td>
                      <td>Elantra</td>
                      <td>2010</td>
                    </tr>
                    <tr>
                      <th scope="row">1</th>
                      <td>Honda</td>
                      <td>Accord</td>
                      <td>2009</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Toyota</td>
                      <td>Camry</td>
                      <td>2012</td>
                    </tr>
                  </tbody>
                </table>
                <a href="#" class="btn btn-primary">Escoger este</a>
              </div>
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button class="btn btn-primary">Crear</button>
          </div>
        </div>
      </div>
    </div>
 

