<footer class="panel-footer p-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">{{ 'INDEX.TITLE' | translate }}</h5>
        <img src="../../../assets/img/logo.png" width="180" height="100" alt="Logo" />
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li>
            <a href="#!" target="_blank"
              ><h4 class="text-uppercase">{{ 'INDEX.PRIVACY' | translate }}</h4></a
            >
          </li>
          <li>
            <a href="#!" target="_blank"
              ><h4 class="text-uppercase">{{ 'INDEX.CONDITIONS' | translate }}</h4></a
            >
          </li> 
        </ul>
      </div>

      <div class="col-md-3">
        <h3 class="container-fluid text-uppercase"> {{ 'INDEX.CONTACT' | translate }} </h3>
        <br />
        <h5>contacto@sdi.com</h5>
        <br />
        <h5>7771625945</h5>
      </div>
    </div>
  </div>

  <div class="footer-2  text-center py-3">
    © 2020 Copyright:
    <a href="www.sistemadeinventarios.mx">sistemadeinventarios</a>
  </div>
</footer>