<div class="row">
  <div class="col-lg col-sm p-0">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button type="button" id="sidebarCollapse" class="btn btn-info">
        <i class="fas fa-bars"></i>
      </button>
      <div class="mr-auto">
        <h1 class="display-1"><strong>Dashboard</strong></h1>
      </div>
      <div class="navbar-nav ml-auto navbar-buttons">
        <a class="btn-custom" data-toggle="modal" data-target="#newModal"
          >Button</a
        >
      </div>
    </nav>
  </div>
</div>
