<div class="row">
  <div class="col-lg col-sm p-0">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button type="button" id="sidebarCollapse" class="btn btn-info" (click)="toggleSidebar()">
        <i class="fas fa-bars"></i>
      </button>
      <div class="mr-auto">
        <h1 class="display-1"><strong>Reportes</strong></h1>
      </div>
    </nav>
  </div>
</div>
<!-- Content -->
<div class="row pt-4">
  <div class="col-lg-6 col-sm">
    <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions"
      [chartType]="'bar'"></canvas>
  </div>
  <div class="col-lg-6 col-sm">
    <canvas baseChart [datasets]="chartDataB" [labels]="chartLabelsB" [options]="chartOptions"
      [chartType]="'line'"></canvas>
  </div>
</div>
