<footer class="panel-footer  p-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">Servicio de Inventarios</h5>
        <img src="img/logo.png" width="180" height="100" alt="Logo" />
      </div>

      <hr class="clearfix w-100 d-md-none pb-3" />

      <div class="col-md-3 mb-md-0 mb-3">
        <ul class="list-unstyled">
          <li>
            <a href="#!" target="_blank"
              ><h4 class="text-uppercase">Aviso de Privacidad</h4></a
            >
          </li>
          <li>
            <br />
          </li>

          <li>
            <a href="#!" target="_blank"
              ><h4 class="text-uppercase">Términos de Servicio</h4></a
            >
          </li>
        </ul>
      </div>

      <div class="col-md-3 mb-md-0 mb-3">
        <h3 class="text-uppercase">Contáctanos</h3>
        <br />
        <h5>contacto@sistemadeinventarios.com</h5>
        <br />
        <h5>7771625945</h5>
      </div>
    </div>
  </div>

  <div class="footer-2  text-center py-3">
    © 2020 Copyright:
    <a href="www.sistemadeinventarios.mx">sistemadeinventarios</a>
  </div>
</footer>